.App {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ff5d9e;
  border-radius: 10px;
  padding: 20px;
  Margin: 20px auto;
  max-width: 900px;

}

.App h1 {
  color: white;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.App footer {
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}

.App footer  {
  color: white;
}

.App footer a {
  color: #82acff;
}