.WeatherCurrentFeel .unitFeelsLike {
    font-size: 2em;
    vertical-align: super;
}

a {
    text-decoration: none;
    color: lightblue;
}

@media (max-width: 768px) { 
    .WeatherCurrentFeel .unitFeelsLike {
        font-size: 1.5em; 
    }

    a {
        color: lightcoral; 
    }
}

@media (max-width: 480px) { 
    .WeatherCurrentFeel .unitFeelsLike {
        font-size: 1.2em; 
    }

    a {
        color: lightgreen; 
    }
}
