.WeatherCurrentTemperature .temperature {
  font-size: 3.75em;
  font-weight: bold;
  color: #333;
  display: inline-block;
}

.WeatherCurrentTemperature .unit {
  font-size: 1em;
  vertical-align: super;
  line-height: 80px;
  margin-left: 2px;
}


@media (max-width: 768px) {
  .WeatherCurrentTemperature .temperature {
    font-size: 2.5em; 
  }

  .WeatherCurrentTemperature .unit {
    font-size: 0.85em; 
    line-height: 60px;
  }
}

@media (max-width: 480px) {
  .WeatherCurrentTemperature .temperature {
    font-size: 2em; 
  }

  .WeatherCurrentTemperature .unit {
    font-size: 0.75em; 
    line-height: 50px; 
    margin-left: 1px; 
  }
}
