.WeatherCurrentFeel .unitFeelsLike {
    font-size: 2em;
    vertical-align: super;
}

a {
    text-decoration: none;
    color: lightblue;
}

@media screen and (max-width: 960px) {
    .WeatherCurrentFeel .unitFeelsLike {
        font-size: 1.5em; 
        vertical-align: baseline; 
    }

    a {
        text-decoration: underline; 
        color: darkblue; 
    }
}
